*{
    padding: 0;
    margin: 0;
    
}


body{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    max-width: 1440px;
}


header.top{
    display: flex;
    width: 100vw;
    min-width: 100vw;
    height: 3.5rem;
    justify-content: space-between;
    flex-direction: row;

}

.top-initial-1{
    max-width: 180px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    
}

.top-initial-1 img{
    width: 24px;
    height: 24px;
    padding: 1.25rem 10px 0 1.875rem;
}

.top-initial-2 img{
    width: 5.625rem;
    height: auto;
    padding-top: 1.25rem;
    margin-left: -1rem;
}

.top-initial-3{
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    
}


.top-initial-3 input{
    width: 21.75rem;
    height: 2.5rem; 
    border: 1px solid rgba(204, 204, 204, 1);
    border-right-color: #fff;
    
}


.top-initial-3 figure{
    width: 3.5625rem;
    max-width: 100%;
    height: 2.5rem;
    background-color: #f8f8f8;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;

    
}


.top-initial-3 img{
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    padding: 10px;


}

.top-initial-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.125rem;
    padding: 10px 0px;
}

.top-initial-4 img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.875rem;
    
}

#picture-profile img#profile{
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;

}


main.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;
    max-height: 937px;
    margin-left: 5rem;
    gap: 1rem;
}

main.container iframe{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1300px;
    height: 100vh;
    max-height: 600px;
    padding-top: 1.87rem;
    
}

main.container h1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
}


.picture-channel{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;
    /*width: 12.5rem;*/
    height: 4rem;
    font-family: "Roboto", sans-serif;
    border: 1px solid red;

}

.picture-channel #profile-channel{
    margin-top: 0.125rem;
    border-radius:50%;
    
}

#profile-name{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0;
    
}

#subscribes{
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    color: #515151;
    
    
}