*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}


body{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    max-width: 1440px;
}


header.top{
    display: flex;
    width: 100vw;
    min-width: 100vw;
    height: 3.5rem;
    justify-content: space-between;
    flex-direction: row;

}

.top-initial-1{
    max-width: 180px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    
}

.top-initial-1 img{
    width: 24px;
    height: 24px;
    padding: 1.25rem 10px 0 1.875rem;
}

.top-initial-2 img{
    width: 5.625rem;
    height: auto;
    padding-top: 1.25rem;
    margin-left: -1rem;
}

.top-initial-3{
    width: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    
}


.top-initial-3 input{
    width: 21.75rem;
    height: 2.5rem; 
    border: 1px solid rgba(204, 204, 204, 1);
    border-right-color: #fff;
    
}


.top-initial-3 figure{
    width: 3.5625rem;
    max-width: 100%;
    height: 2.5rem;
    background-color: #f8f8f8;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;

    
}


.top-initial-3 img{
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    padding: 10px;


}

.top-initial-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.125rem;
    padding: 10px 0px;
}

.top-initial-4 img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.875rem;
    
}

#picture-profile img#profile{
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;

}


main.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;
    max-height: 937px;
    margin-left: 5rem;
    gap: 1rem;
    order: 0;
}

main.container iframe{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    aspect-ratio: 16 / 9;
    height: 100vh;
    max-height: 600px;
    padding-top: 1.87rem;
    
}

main.container h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
}


.picture-channel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    width: 12.5rem;
    height: 4rem;
    

}

.picture-channel #profile-channel{
    margin-top: 0.125rem;
    border-radius:50%;
    
}

#profile-name{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0;
    
}

#subscribes-numbers{
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    color: #515151;
    
    
}

.buttons-subscribe img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 2.5rem;
}



.thumbs-up{
    padding: 15px;

}

.thumbs-up img{
    
    display: flex;
    margin-left: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

#numbers-likes{
    font-weight: 600;
    font-size: 14px;
    margin-top: 1.25rem;
}

.thumbs-down{
    padding: 15px;

}

.thumbs-down img{
    
    display: flex;
    margin-left: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

#numbers-deslikes{
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 1.25rem;
}

.share{
     padding: 15px;
}

#share-text{
    font-weight: 600;
    font-size: 14px;
    margin-top: 1.25rem;
}


.share img{
    display: flex;
    margin-left: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

.download{
     padding: 15px;
}


.download img{
    display: flex;
    margin-left: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

#download-text{
    font-weight: 600;
    font-size: 14px;
    margin-top: 1.25rem;
}

.informations-views{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
}

.sugestions-videos{
    width: 22.875rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 5.3125rem;
    right: 12rem;
    gap: 1rem;
}


.sugestions-videos .iframe{
    width: 100%;
    height: 5.625rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    

}

.title-videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
    
    
}



.title-for-sugestions-videos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: wrap;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    padding: 10px 0 -1 10px;
    
    text-transform: capitalize;
}


.name-channel-informations-videos{
    text-align: left;
    font-weight: 400;
    padding: 10px 0 5px 0;
    font-size: 12px;
    color:#515151;
}